#parse("/templates/module/header.vm")
<div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">想</h2>
                    <p class="lead">记录是一种精神，是加深理解最好的方式之一</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/ipad.png" alt=""/>
                </div>
            </div>

        </div>
    </div>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">看mybatis源码</h2>
                    <p class="lead">不许偷懒QAQ</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/img/dog.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">最近</h2>
                    <p class="lead">多看书，少看剧</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/phones.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
#include("/templates/module/footer.vm")